.park {
    .park-header {
        color: #7f8c8d;
        text-align: center;
    }
    
    .welcome {
       color: #e74c3c;
       font-style: bold;
    }
    margin-bottom: 20px;

    label{
        margin: 10px;
    }
}



